{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<tr class="archive__item-excerpt" itemprop="description">
    <td style="border: none; padding: 0; padding-top: 0.75em;" colspan="2">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ post.venue }},  {{post.location}}
    </td>
</tr>
<tr class="archive__item-excerpt" itemprop="description">
  <td style="border: none; padding: 0; color: #9ba1a6; width: 1%; white-space: nowrap;">
    <nobr><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ post.date | date: '%b %d, %Y' }}</nobr>
  </td>
  <td style="border: none; padding: 0; opacity: 75%;">
    {% if post.slides %}
    <a href="{{base_path}}/files/slides/{{ post.slides }}" style="color: steelblue;" target="_blank"><i class="fas fa-fw fa-file-powerpoint" aria-hidden="true"></i>slides</nobr></a>
    {% endif %}
    {% if post.video %}
    <a href="{{ post.video }}" style="color: red;" target="_blank"><nobr><i class="fab fa-youtube" aria-hidden="true" style="margin-right: 2px;"></i>video</nobr></a>
    {% endif %}
  </td>
</tr>
