<!-- start custom analytics snippet -->
<!-- Default Statcounter code for sisaman home page
https://sajadmanesh.com -->
<script type="text/javascript">
    var sc_project=11147095; 
    var sc_invisible=1; 
    var sc_security="25962931"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/11147095/0/25962931/1/"
    alt="Web Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->
<!-- end custom analytics snippet -->